<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mercadoliebre</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/norma.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">  
    <!-- iconitos -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/header.css">


</head>
<body class="body">
    <header class="mainHeader">
        <nav class="mainHeaderTopBar">
          <figure id="logoMercadolibre">
              <img src="../img/logo-mercado-liebre.svg">
          </figure>
          <form class="barraBusqueda" action="#" id="barraBusquedaForm">
            <label for="barraBusqueda"></label>
            <input type="search" id="barraBusqueda" name="barraBusqueda" placeholder="Buscar productos, marcas">
            <button id="botonBarra" type="submit"><i class="fa fa-search"></i></button>  
          </form>
          <h2 class="textoHeader"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</h2>
        </nav>
        
        <a href="http://www.google.com.ar" class="hamburguerButton">
            <i class="fas fa-bars"></i>
        </a>
        <nav class="mainHeaderBottomBar">
         <ul  class="leftNavBar">
           <li><a href="http://www.google.com.ar">Ofertas</a></li>
           <li><a href="http://www.google.com.ar">Tiendas Oficiales</a></li>
           <li><a href="http://www.google.com.ar">Vender</a></li>
           <li><a href="http://www.google.com.ar">Ayuda</a></li>
         </ul>
         <ul  class="rightNavBar">
            <li><a href="/register">Creá tu cuenta<i class="fas fa-credit-card"></i></a></li>
            <li><a href="/login">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href="http://www.google.com.ar">Mis compras<i class="fas fa-shopping-basket"></i></a></li>
         </ul>
    </header>
      <!-- banner -->
      <figure class="banner">
          <img  src="img/img-home-banner.jpg">
          <!-- width=100% height=100%  le saque esto y mejoro, se lo da css el tamaño-->
      </figure>
    <main class="content">
        
        <section class="ultimaVisita"><h3 class="tituloSeccion">Basado en tu ultima visita</h3>
            <article class="articulo">
                <figure class="imagenProducto">
                 <img  src="img/img-cafetera-moulinex.jpg">
                </figure>
            <section class="cajaarticulo">
                <i class="fas fa-shipping-fast"></i>
                <p class="precio">$6.770</p>
                <p class="dto">40% OFF</p>
                <p class="desc">Cafetera Moulinex</p>
            </section>
            </article>
            <article class="articulo">
                <figure class="imagenProducto">
                 <img  src="img/img-macbook-pro-2019.jpg">
                </figure>
                <section class="cajaarticulo">
                <i class="fas fa-shipping-fast"></i>    
                <p class="precio">$230.000</p>
                <p class="dto">20% off</p>
                <p class="desc">MacBook Pro 2019</p class="desc">
                </section>
            </article>
            <article class="articulo">
                <figure class="imagenProducto">
                 <img  src="img/img-samsung-galaxy-s10.jpg">
                </figure>
                <section class="cajaarticulo">
                <i class="fas fa-shipping-fast"></i>
                <p class="precio">$70.500</p>
                <p class="dto">10% off</p>
                <p class="desc">Samsung Galaxy S10</p class="desc">
                </section>
            </article>
            <article class="articulo">
                <figure class="imagenProducto">
                 <img  src="img/img-tv-samsung-smart.jpg">
                </figure>
                <section class="cajaarticulo">
                <i class="fas fa-shipping-fast"></i>
                <p class="precio">$23.200</p>
                <p class="dto">5% off</p>
                <p class="desc">SmartTv Samsung 43"</p class="desc">
                </section>
            </article>
        </section>
        <section class="ofertas"><h3 class="tituloSeccion">Ofertas</h3>
            <article class="articulo">
                <figure class="imagenProducto">
                 <img  src="img/img-cafetera-moulinex.jpg">
                </figure>
                <section class="cajaarticulo">
                <i class="fas fa-shipping-fast"></i>
                <p class="precio">$6.770</p>
                <p class="dto">40% OFF</p>
                <p class="desc">Cafetera Moulinex</p class="desc">
                </section>
            </article>
            <article class="articulo">
                <figure class="imagenProducto">
                 <img  src="img/img-macbook-pro-2019.jpg">
                </figure>
                <section class="cajaarticulo">
                <i class="fas fa-shipping-fast"></i>
                <p class="precio">$230.000</p>
                <p class="dto">20% off</p>
                <p class="desc">MacBook Pro 2019</p class="desc">
                </section>
            </article>
            <article class="articulo">
                <figure class="imagenProducto">
                 <img   src="img/img-samsung-galaxy-s10.jpg">
                </figure>
                <section class="cajaarticulo">
                <i class="fas fa-shipping-fast"></i>
                <p class="precio">$70.500</p>
                <p class="dto">10% off</p>
                <p class="desc">Samsung Galaxy S10</p class="desc">
                </section>
            </article>
            <article class="articulo">
                <figure class="imagenProducto">
                 <img  src="img/img-tv-samsung-smart.jpg">
                </figure>
                <section class="cajaarticulo">
                <i class="fas fa-shipping-fast"></i>
                <p class="precio">$23.200</p>
                <p class="dto">5% off</p>
                <p class="desc">SmartTv Samsung 43"</p class="desc">
                </section>
            </article>
        </section>
    </main>

    <footer class="pie">
        <section>
            
            
            
            <article>
                <i class="fas fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin </p>
                <p>interés con tarjeta o efectivo enpuntos de</p>
                <p>pago. ¡Y siempre es seguro!</p>
                
            </article>
            
            
            <article>
                <i class="fas fa-gift"></i>
                <h3>Envío gratis desde los $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre</p>
                <p>tenés envíos gratis en miles de productos. Es</p>
                <p>un beneficio de Mercado Puntos.</p>
                    
            </article>
         
            
            <article>
                <i class="fas fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre,</p>
                <p>no hay nada que no puedas hacer, porque estás</p>
                <p>siempre protegid@.</p>
                   
            </article>
            <article id="copyright">
            <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
            </article>
            
            
            
        </section>
             

    </footer>
</body>
</html>